<div class="container mt-4">
  <div class="container col-md-8 offset-md-2">
    <h1 class="text-center" id="welcome"></h1>
    <br>
    <div class="row">
      <a class="btn btn-light btn-lg text-center text-white bg-dark col-md-12" href="/NetworksAndDataCommunications" role="button">Networks and Data Communication</a>
    </div>
    <br>
    <div class="row">
      <a class="btn btn-light btn-lg text-center text-white bg-dark col-md-12" href="/ObjectOrientedProgramming" role="button">Object Oriented Programming: Data Structures and Algorithms</a>
    </div>
    <br>
    <div class="row">
      <a class="btn btn-light btn-lg text-center text-white bg-dark col-md-12" href="/SoftwareEngineering" role="button">Software Engineering</a>
    </div>
    <br>
    <div class="row">
      <a class="btn btn-light btn-lg text-center text-white bg-dark col-md-12" href="/IntroductionToModelling" role="button">Introduction to Modelling</a>
    </div>
    <br>
    <div class="row">
      <a class="btn btn-light btn-lg text-center text-white bg-dark col-md-12" href="/NextGenerationTechnologies" role="button">Next Generation Technologies II</a>
    </div>
    <br>
    <div class="row">
      <a class="btn btn-light btn-lg text-center text-white bg-dark col-md-12" href="/LinearAlgebra" role="button">Linear Algebra</a>
    </div>	
  </div>
</div>