<div class="container">
  <div class="row">
    <div class="col-md-6 border-right" style="height: 100%">
      <h2 class="text-center">Register</h2>
      <br>
      <div class="col-md-10 offset-md-1 align-middle">
        <div class="input-group mb-3">
          <input id="name!!!!" type="text" class="form-control" placeholder="Name" aria-label="Name">
        </div>
        <div class="input-group mb-3">
          <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
        </div>
        <div class="input-group mb-3">
          <input id="emailRegister" type="text" class="form-control" placeholder="Email" aria-label="Email">
        </div>
         <div class="input-group mb-3">
          <input id="passwordRegister" type="password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
        <button id="register" type="button" class="btn btn-dark">Register</button>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Login</h2>
      <br>
      <div class="col-md-10 offset-md-1">
        <div class="input-group mb-3">
          <input id="emailLogin" type="text" class="form-control" placeholder="Email" aria-label="Email">
        </div>
        <div class="input-group mb-3">
          <input id="passwordLogin" type="password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
        <button id="login" type="button" class="btn btn-dark">Login</button>
      </div>
    </div>
  </div>
</div> 